{% extends "shared/layout.html" %}

{% block content %}

<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">This words cloud app was developed by Adriano Santos (br.linkedin.com/in/adrianosantospb) to Katrin Terton. (no-commercial) </p>
                <h4 class="text-white">Technologies</h4>
                <p class="text-muted">
                    <li> Python 3.6 - https://www.python.org/</li>
                    <li> Flask - http://flask.pocoo.org/docs/0.12/tutorial/</li>
                    <li> D3 - https://d3js.org</li>
                    <li> Bootstrap - https://getbootstrap.com/</li>
                    <li> ResponsiveVoice - https://responsivevoice.org/ </li>
                    <li> This app was inspired in https://github.com/jasondavies/d3-cloud </li>
               </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="br.linkedin.com/in/adrianosantospb" class="text-white">Linkedin</a>
                    </li>
                    <li>
                        <a href="https://github.com/adrianosantospb" class="text-white">Github</a>
                    </li>
                    <li>
                        <a href="http://lattes.cnpq.br/2454224571306182" class="text-white">Lattes</a>
                    </li>
                    <li>
                        <a href="adriano AT copin .  ufcg . edu . br" class="text-white">Email me</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}